body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f8f9;
}

#logo{
  width: 4%;
  margin: 10px;
  vertical-align: middle;
}

.container{
  width: 100%;
  height: auto;
  background-color: white;
}

#name{
  font-size: 25px;
  font-family: Arial, sans-serif;
  vertical-align: middle;
}

.box{
  width: 75%;
  height: 800px;
  margin: 60px auto;
  border-radius: 10px;
  background-color: white;
}

.button{
  padding-left: 5%;
  padding-top: 20px;
}

.style{
  border-radius: 5px;
  height: 30px;
  width: 90px;
}

#button1{
  background-color: #47adf1;
  color: white;
  border-color: #47adf1;
  border: hidden;
  
}

#button2{
  background-color: white;
  color: lightgrey;
  border-color: lightgrey;
  border: 2px solid;
}

#linea{
  border: solid;
  border-color: #f6f8f9;
}

.section{
  font-size: 30px;
  font-family: Arial, sans-serif;
  padding: 40px;  
}

.descrition{
  font-size: 20px;
  padding: 10px;
}

.check{
  color: green;
  border: 2px solid green;
  border-radius: 50%;
}

.cross{
  color: red;
  border: 2px solid red;
  border-radius: 50%;
}

.editorial{
  font-size: 12px;
  background-color: #47adf1;
  color: white;
  border-radius: 10%;
  border: hidden;
  padding:5px;
}

.q1-goals{
  font-size: 12px;
  background-color: #9c72e4;
  color: white;
  border-radius: 10%;
  border: hidden;
  padding: 5px;
}

.recruiting{
  font-size: 12px;
  background-color: #64c0a9;
  color: white;
  border-radius: 10%;
  border: hidden;
  padding: 5px;
}

.mobile{
  font-size: 12px;
  background-color: #f29e33;
  color: white;
  border-radius: 10%;
  border: hidden;
  padding: 5px;
}

.website{
  font-size: 12px;
  background-color: #d863a1;
  color: white;
  border-radius: 10%;
  border: hidden;
  padding: 5px;
}

.sales{
  font-size: 12px;
  background-color: #b0c926;
  color: white;
  border-radius: 10%;
  border: hidden;
  padding: 5px;
}
